* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.box{
    width: 200px;
    height: 200px;
    background-color: red;
    animation-name: push;
    animation-iteration-count: infinite;
    animation-duration: 8s;
    animation-direction: normal;
    position: absolute;
    animation-fill-mode: forwards;
}
@keyframes push {
    0%{
        left: 0;
        top: 0;
    }
    25%{
        top: 0;
        left: calc(100% - 50%);
    }
    40%{
        top: calc(100% - 60%);
        left: calc(100% - 50%);
    }
     50%{
        top: calc(100% - 60%);
        left: calc(100% - 200px);
    }
    75%{
        top: calc(100% - 200px);
        left: calc(100% - 200px);
    }
    85%{
        left:0;
        top: calc(100% - 200px);

    }
    100%{
        left:0;
        top: 0;
    } 
}

